* {
	box-sizing: border-box;
}

body {
	background: WhiteSmoke;
}

#header {
	background: DodgerBlue;
}

.cardWrapper {
	max-width: 80%;
}

.carCard {
	border: 2px solid black;
}

.focusElement {
	border: 2px solid blue;
}
